@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.primary-color {
    background-color: var(--primary-color);
}

.primary-variant-color {
    background-color: var(--primary-variant-color);
}

.primary-unselect-color {
    background-color: var(--primary-unselect-color);
}

.on-primary-color {
    background-color: var(--on-primary-color);
}

.secondary-variant-color {
    background-color: var(--secondary-variant-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.secondary-unselect-color {
    background-color: var(--secondary-unselect-color);
}

.on-secondary-color {
    background-color: var(--on-secondary-color);
}

.surface-color {
    background-color: var(--surface-color);
}

.on-surface-color {
    background-color: var(--on-surface-color);
}

.background-color {
    background-color: var(--background-color);
}

.on-background-color {
    background-color: var(--on-background-color);
}

.success-color {
    background-color: var(--success-color);
}

.on-success-color {
    background-color: var(--on-success-color);
}

.error-color {
    background-color: var(--error-color);
}

.on-error-color {
    background-color: var(--on-error-color);
}

.text-on-primary-color {
    color: var(--text-on-primary-color);
}

.text-on-secondary-color {
    color: var(--text-on-secondary-color);
}

.text-on-surface-color {
    color: var(--text-on-surface-color);
}
