@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.store-primary-color {
    background-color: var(--store-primary-color);
}

.store-secondary-color {
    background-color: var(--store-secondary-color);
}

.store-surface-color {
    background-color: var(--store-surface-color);
}
