.el-primary-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--primary-s);
    --el-color-l: var(--primary-l);
    background-color: hsl(var(--primary-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-primary-variant-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--primary-variant-s);
    --el-color-l: var(--primary-variant-l);
    background-color: hsl(var(--primary-variant-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-on-primary-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--on-primary-s);
    --el-color-l: var(--on-primary-l);
    background-color: hsl(var(--on-primary-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-secondary-variant-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--secondary-variant-s);
    --el-color-l: var(--secondary-variant-l);
    background-color: hsl(var(--secondary-variant-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-secondary-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--secondary-s);
    --el-color-l: var(--secondary-l);
    background-color: hsl(var(--secondary-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-on-secondary-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--on-secondary-s);
    --el-color-l: var(--on-secondary-l);
    background-color: hsl(var(--on-secondary-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-surface-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--surface-s);
    --el-color-l: var(--surface-l);
    background-color: hsl(var(--surface-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-on-surface-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--on-surface-s);
    --el-color-l: var(--on-surface-l);
    background-color: hsl(var(--on-surface-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-background-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--background-s);
    --el-color-l: var(--background-l);
    background-color: hsl(var(--background-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-on-background-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--on-background-s);
    --el-color-l: var(--on-background-l);
    background-color: hsl(var(--on-background-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-success-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--success-s);
    --el-color-l: var(--success-l);
    background-color: hsl(var(--success-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-on-success-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--on-success-s);
    --el-color-l: var(--on-success-l);
    background-color: hsl(var(--on-success-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-error-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--error-s);
    --el-color-l: var(--error-l);
    background-color: hsl(var(--error-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}

.el-on-error-color {
    --tw-el-opacity: 1;
    --el-color-s: var(--on-error-s);
    --el-color-l: var(--on-error-l);
    background-color: hsl(var(--on-error-h) var(--el-color-s-h, var(--el-color-s-f, var(--el-color-s-c, var(--el-color-s)))) var(--el-color-l-h, var(--el-color-l-f, var(--el-color-l-c, var(--el-color-l)))) / var(--tw-el-opacity));
}


.el-lighter-5 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 1.05), 93);
}

.el-lighter-10 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 1.10), 93);
}

.el-lighter-15 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 1.15), 93);
}

.el-lighter-20 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 1.20), 93);
}

.el-lighter-25 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 1.25), 93);
}

.el-lighter-35 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 1.35), 93);
}

.el-lighter-50 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 1.50), 93);
}

.el-lighter-70 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 1.70), 93);
}

.el-darken-5 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 0.95), 93);
}

.el-darken-10 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 0.90), 93);
}

.el-darken-15 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 0.85), 93);
}

.el-darken-20 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 0.80), 93);
}

.el-darken-25 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 0.75), 93);
}

.el-darken-35 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 0.65), 93);
}

.el-darken-50 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 0.50), 93);
}

.el-darken-70 {
    --el-color-l-c: clamp(7, calc(var(--el-color-l) * 0.30), 93);
}

.el-light-reset {
    --el-color-l-c: var(--el-color-l);
}

.el-light-black {
    --el-color-l-c: 0;
}

.el-light-50 {
    --el-color-l-c: 50;
}

.el-light-80 {
    --el-color-l-c: 80;
}

.el-light-90 {
    --el-color-l-c: 90;
}

.el-light-white {
    --el-color-l-c: 100;
}

.hover\:el-lighter-5:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.05), 93);
}

.hover\:el-lighter-10:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.10), 93);
}

.hover\:el-lighter-15:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.15), 93);
}

.hover\:el-lighter-20:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.20), 93);
}

.hover\:el-lighter-25:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.25), 93);
}

.hover\:el-lighter-35:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.35), 93);
}

.hover\:el-lighter-50:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.50), 93);
}

.hover\:el-lighter-70:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.70), 93);
}

.hover\:el-darken-5:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.95), 93);
}

.hover\:el-darken-10:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.90), 93);
}

.hover\:el-darken-15:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.85), 93);
}

.hover\:el-darken-20:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.80), 93);
}

.hover\:el-darken-25:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.75), 93);
}

.hover\:el-darken-35:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.65), 93);
}

.hover\:el-darken-50:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.50), 93);
}

.hover\:el-darken-70:hover {
    --el-color-l-h: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.30), 93);
}

.hover\:el-light-reset:hover {
    --el-color-l-h: var(--el-color-l);
}

.hover\:el-light-black:hover {
    --el-color-l-h: 0;
}

.hover\:el-light-50:hover {
    --el-color-l-h: 50;
}

.hover\:el-light-80:hover {
    --el-color-l-h: 80;
}

.hover\:el-light-90:hover {
    --el-color-l-h: 90;
}

.hover\:el-light-white:hover {
    --el-color-l-h: 100;
}

.focus\:el-lighter-5:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.05), 93);
}

.focus\:el-lighter-10:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.10), 93);
}

.focus\:el-lighter-15:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.15), 93);
}

.focus\:el-lighter-20:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.20), 93);
}

.focus\:el-lighter-25:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.25), 93);
}

.focus\:el-lighter-35:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.35), 93);
}

.focus\:el-lighter-50:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.50), 93);
}

.focus\:el-lighter-70:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 1.70), 93);
}

.focus\:el-darken-5:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.95), 93);
}

.focus\:el-darken-10:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.90), 93);
}

.focus\:el-darken-15:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.85), 93);
}

.focus\:el-darken-20:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.80), 93);
}

.focus\:el-darken-25:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.75), 93);
}

.focus\:el-darken-35:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.65), 93);
}

.focus\:el-darken-50:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.50), 93);
}

.focus\:el-darken-70:focus {
    --el-color-l-f: clamp(7, calc(var(--el-color-l-c, var(--el-color-l)) * 0.30), 93);
}

.focus\:el-light-reset:focus {
    --el-color-l-f: var(--el-color-l);
}

.focus\:el-light-black:focus {
    --el-color-l-f: 0;
}

.focus\:el-light-50:focus {
    --el-color-l-f: 50;
}

.focus\:el-light-80:focus {
    --el-color-l-f: 80;
}

.focus\:el-light-90:focus {
    --el-color-l-f: 90;
}

.focus\:el-light-white:focus {
    --el-color-l-f: 100;
}

.el-saturation-reset {
    --el-color-s-c: var(--el-color-s);
}

.el-richer-50 {
    --el-color-s-c: clamp(10, calc(var(--el-color-s) * 1.50), 100);
}

.el-paler-50 {
    --el-color-s-c: clamp(10, calc(var(--el-color-s) * 0.50), 100);
}

.el-paler-90 {
    --el-color-s-c: clamp(10, calc(var(--el-color-s) * 0.10), 100);
}

.hover\:el-saturation-reset:hover {
    --el-color-s-h: var(--el-color-s);
}

.hover\:el-richer-50:hover {
    --el-color-s-h: clamp(10, calc(var(--el-color-s-c, var(--el-color-s)) * 1.50), 100);
}

.hover\:el-paler-50:hover {
    --el-color-s-h: clamp(10, calc(var(--el-color-s-c, var(--el-color-s)) * 0.50), 100);
}

.hover\:el-paler-90:hover {
    --el-color-s-h: clamp(10, calc(var(--el-color-s-c, var(--el-color-s)) * 0.10), 100);
}


.focus\:el-saturation-reset:focus {
    --el-color-s-f: var(--el-color-s);
}

.focus\:el-richer-50:focus {
    --el-color-s-f: clamp(10, calc(var(--el-color-s-c, var(--el-color-s)) * 1.50), 100);
}

.focus\:el-paler-50:focus {
    --el-color-s-f: clamp(10, calc(var(--el-color-s-c, var(--el-color-s)) * 0.50), 100);
}

.focus\:el-paler-90:focus {
    --el-color-s-f: clamp(10, calc(var(--el-color-s-c, var(--el-color-s)) * 0.10), 100);
}

.el-opacity-0 {
    --tw-el-opacity: .0
}

.el-opacity-25 {
    --tw-el-opacity: .25
}

.el-opacity-75 {
    --tw-el-opacity: .75
}

.el-opacity-100 {
    --tw-el-opacity: 1.0
}

.hover\:el-opacity-0:hover {
    --tw-el-opacity: .0
}

.hover\:el-opacity-25:hover {
    --tw-el-opacity: .25
}

.hover\:el-opacity-75:hover {
    --tw-el-opacity: .75
}

.hover\:el-opacity-100:hover {
    --tw-el-opacity: 1.0
}

.focus\:el-opacity-0:focus {
    --tw-el-opacity: .0
}

.focus\:el-opacity-25:focus {
    --tw-el-opacity: .25
}

.focus\:el-opacity-75:focus {
    --tw-el-opacity: .75
}

.focus\:el-opacity-100:focus {
    --tw-el-opacity: 1.0
}
